.header__navmobile{
	position: absolute;
    width: 0%;
    opacity: 0;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    background: rgba(218, 218, 218, 0.85);
    transition: all .5s ease;
&-list{
	list-style:none;
	padding: 2rem 0;

}
&-item{
	padding: 1.5rem 0;
    cursor: pointer;
    letter-spacing: 2px;
}
&-link{
	text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
}
&-userwrapp{
	display: flex;
    width: 100%;
    position: absolute;
    top: 2%;
}

}

.slideToRight{
    width: 75%;
    opacity: 1;
}

.blur{
    filter: blur(3px);
}
