.open{
	position: absolute;
    right: 9px;
    //top: 2px;
    display: flex;
    align-items: center;
	width: 25px;
	height: 20px;
	display: none;
	/* @include respond(tab-land){
		display: none;
	}
	@include respond(tab-port){
		display: none;
	} */
	@include respond(phone){
		display: flex;
	}
	
	& span{
		display: block;
		width: 20px;
		height: 2px;
		background: $base-color;
		&::before{
			content: "";
			width: 25px;
		    height: 2px;
		    background: $base-color;
		    display: block;
		    position: absolute;
		    top: 2px;
		    right: 0;
		}
		&::after{
			content: "";
			width: 15px;
			height: 2px;
			background: $base-color;
			display: block;
			position: absolute;
			bottom: 2px;
		}
	}
}