.thirdheading{
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 5px;
    padding: 1rem 0;
    &::before{
        content: "";
        display: block;
        left: 20%;
        top: 40%;
        position: absolute;
        width: 10px;
        height: 10px;
        background: #ecec22;

        @include respond(tab-land){
            left: 34%;
        }
        @include respond(tab-port){
            left: 30%;
        }
        @include respond(phone){
            left: 37%;
        }
        @include respond(small-dev){
            left: 24%;
        }

    }

}